@font-face{
	font-family: raleway;
	src: url("Raleway-VariableFont_wght.ttf");
}

body{
	font-family: raleway, sans-serif;
	width: 100%;
	margin: auto;
}

h1{
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

h2{
	font-size: 1em;
	color: black;
	text-decoration: none;
}

header{
	margin: 0 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

#logo{
	height: auto;
	width: 90px;
	margin-right: auto;
	align-self: flex-end;
	padding-top: 20px;
}

nav ul{
	list-style-type: none;
	display: flex;	
}

nav li{
	margin-right: 15px;
}

nav a{
	text-decoration: none;
}

#filtres{
	display: flex;
	align-items: center;
	font-weight: bold;
}

.fa-map-marker-alt{
	background-color: #F2F2F2;
	padding: 10px 10px 10px 10px;
	border: solid #F2F2F2 1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-right: -5px;
}

input{
	border: solid #F2F2F2 1px;
	padding: 10px 10px 10px 10px;
}

button{
	color: white;
	background-color: blue;
	font-weight: bold;
	font-size: 1em;
	border: none;
	padding: 10px 10px 10px 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: -5px;
}

.filtreelement{
	margin-left: 40px;
	border: solid #F2F2F2;
	border-radius: 20px;
}

.nomfiltre{
	padding: 0px 12px 0px 12px;
}

.nomfiltre:hover{
	background-color: gold;
}

.fa-money-bill-wave{
	border-radius: 50%;
	background-color: #DEEBFF;
	color: #0065FC;
	padding: 12px 10px 12px 10px;
}

.fa-child{
	border-radius: 50%;
	background-color: #DEEBFF;
	color: #0065FC;
	padding: 12px 10px 12px 10px;
}

.fa-heart{
	border-radius: 50%;
	background-color: #DEEBFF;
	color: #0065FC;
	padding: 12px 10px 12px 10px;;
}

.fa-dog{
	border-radius: 50%;
	background-color: #DEEBFF;
	color: #0065FC;
	padding: 12px 10px 12px 10px;;
}

.fa-info{
	border-radius: 50%;
	color: #0065FC;
	border: solid grey 1px;
	padding: 2px 5px 2px 5px;
}

#section2{
	display: flex;	
	justify-content: space-between;
	width: 100%;
	padding: 15px 15px 15px 15px;
}

#hebergements{
	flex-direction: column;
	width: 65%;
	background-color: #F2F2F2;
	padding: 20px 20px 20px 20px;
}

#hebergements a{
	text-decoration: none;
	color: black;
}


#hebergements1 {
	display: flex;
	justify-content: space-between;	
	padding-bottom: 20px;	
}

#hebergements1 div{
	background-color: white;
	border-radius: 10%;
	box-shadow: 2px 5px 5px grey;
}

#hebergements2{
	display: flex;
	justify-content: space-between;
}

#hebergements2 div{
	background-color: white;
	border-radius: 10%;
	box-shadow: 2px 5px 5px grey;
	padding: -10px;
}

#hebergements1 img{
	width: 190px;
	height: 100px;
	border-radius: 10%;
	margin: 5px 5px 5px 5px;
	object-fit: cover;	
}

#hebergements2 img{
	width: 190px;
	height: 100px;
	border-radius: 10%;
	margin: 5px 5px 5px 5px;
	object-fit: cover;
}

aside{
	background-color: #F2F2F2;
	border-radius: 2%;
	margin-left: 20px;
	width: 30%;
}

aside a{
	text-decoration: none;
	display: flex;
	color: black;
	box-shadow: 2px 5px 5px grey;
	border-radius: 10%;
	background-color: white;
	margin: 20px 20px 20px 20px;
}

aside img{
	width: 130px;
	height: 130px;
	border-radius: 10%;
	padding: 10px 10px 10px 10px;
	object-fit: cover;
}


aside h1{
	padding-left: 35px;
}

.etoile-bleue{
	color: #0065FC;
}

.etoile-gris{
	color: #F2F2F2;
}

#section3{
	padding: 20px 20px 20px 20px;
}

#activites figure img{
	width: 190px;
	height: 140px;	
	object-fit: cover;	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#activites figure{
	box-shadow: 2px 5px 5px grey;
	border-radius: 10%;
	padding-top: 7px;
}

#vieuxport img{
	width: 250px;
	height:350px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
} 

#vieuxport{
	box-shadow: 2px 5px 5px grey;
	border-radius: 10%;
}

#parc img{
	width: 250px;
	height: 350px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#parc{
	border-radius: 10%;
	box-shadow: 2px 5px 5px grey;
}

#activites{
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: space-between;

}





footer{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
}

#apropos{
	padding-left: 50px;
}

#assistance{
	padding-right: 100px;
}